<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javen.sizuka.modules.accountItem.mapper.AccountItemMapper">
    <resultMap id="BaseResultMap" type="com.javen.sizuka.model.AccountItem">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="book_id" jdbcType="INTEGER" property="bookId"/>
        <result column="price_type" jdbcType="INTEGER" property="priceType"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="item_status" jdbcType="INTEGER" property="itemStatus"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="item_type" jdbcType="VARCHAR" property="itemType"/>
    </resultMap>
    <resultMap id="mony_in_out" type="com.javen.sizuka.model.MoneyInOut">
        <result column="money_in" jdbcType="INTEGER" property="money_in"></result>
        <result column="money_out" jdbcType="INTEGER" property="money_out"></result>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, book_id, price_type, price, status,item_status, remark, create_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from account_item
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from account_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.javen.sizuka.model.AccountItem">
    insert into account_item (id, user_id, book_id, 
      price_type, price, status, item_status
      remark, create_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{bookId,jdbcType=INTEGER}, 
      #{priceType,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
       #{status,jdbcType=INTEGER},  #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.javen.sizuka.model.AccountItem" useGeneratedKeys="true"
            keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into account_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="bookId != null">
                book_id,
            </if>
            <if test="priceType != null">
                price_type,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="itemStatus != null">
                item_status,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="bookId != null">
                #{bookId,jdbcType=INTEGER},
            </if>
            <if test="priceType != null">
                #{priceType,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                #{price,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="itemStatus != null">
                #{itemStatus,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.javen.sizuka.model.AccountItem">
    update account_item
    set user_id = #{userId,jdbcType=INTEGER},
      book_id = #{bookId,jdbcType=INTEGER},
      price_type = #{priceType,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      item_status = #{itemStatus,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectDashBoardInfoByThisMoth" resultMap="mony_in_out">
     SELECT IFNULL(sum(i.price),0) money_in,IFNULL(SUM(o.price),0) money_out FROM account_item i
    LEFT JOIN
    account_item o
    ON i.user_id=o.user_id AND i.book_id=o.book_id
    WHERE o.status=1 AND o.item_status=0 AND i.status=1 AND i.item_status=1
    AND o.user_id =#{param1} AND i.user_id = #{param1} AND i.book_id=#{param2} AND o.book_id =#{param2}
    AND i.create_time BETWEEN #{param3} AND #{param4}
    AND o.create_time BETWEEN #{param3} AND #{param4}
  </select>
    <select id="selectDashBoard" resultType="int">
     SELECT IFNULL(sum(i.price),0) FROM account_item i
     WHERE i.status=1 AND i.item_status=#{param5}
     AND i.user_id=#{param1}
     AND i.book_id=#{param2}
     AND i.create_time BETWEEN #{param3} AND #{param4}
  </select>

    <select id="selectAccountItems" resultMap="BaseResultMap">
    SELECT i.*,t.type_name AS item_type FROM account_item i
    LEFT JOIN item_type t ON i.price_type = t.id
    WHERE user_id=#{param1} AND book_id=#{param2} AND create_time BETWEEN #{param3} AND #{param4} ORDER BY create_time DESC
  </select>
</mapper>